.Input {
    width: 80%;
    height: 2.5rem;
    // font-size: 1.25rem;
    line-height: 2.5rem;
    border: none;
    background: #ffffff;
    text-align: center;
    font-family: "Hahmlet";

    &::placeholder {
        color: dimgray;
    }

    &+&, &+.Button, .Button+&, &+div {
        margin-top: 1rem;
    }    
}