.Header {
  background: #fbfbf0;
  color: #13541d;
  margin: 0;
  width: 100%;
  position: fixed;
  z-index: 999;

  .Content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .Logo {
    margin: auto;
  }

  .Logostyle {
    margin: auto;
    padding-left: 50px;
    width: 150px;
    height: 75px;
    cursor: pointer;
  }

  .Menu {
    display: flex;
    justify-content: flex-end;
    .Item {
      margin: auto;
      padding-top: 40px;
      padding-right: 5px;
      a {
        text-decoration: none;
        color: #13541d;
        font-weight: normal;
        font-size: small;
      }
    }
  }
}

//메뉴목록!
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #13541d;
  display: block;
}

.Menubar {
  width: 100%;
  margin: 0 auto;
  height: 0;
}

.Menulist {
  width: 40vw;
  line-height: 75px;
  color: #13541d;
  margin: 0 auto;
  display: flex;
  font-weight: bold;
  text-align: center;
  padding: 0;
  padding-top: 20px;
  justify-content: space-between;
  position: relative;

  ul {
    padding-left: 0;
    overflow: hidden;
    margin-top: -10px;
  }
}

.Menulist li {
  margin: 0 auto;
}

// 드롭다운
.dropDown {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 80px;
  background-color: black;
}

.active {
  height: 250px;
  animation: down ease-out 0.3s;
}

.out {
  height: 0;
  animation: up ease-out 0.3s;
}

@keyframes down {
  0% {
    height: 0;
  }

  100% {
    height: 250px;
  }
}

@keyframes up {
  0% {
    height: 250px;
  }

  100% {
    height: 0;
  }
}

.drop_block {
  color: white;
}
.drop_none {
  visibility: hidden;
  height: 0px;
}
