.Header {
    background: #FBFBF0;
    color: #13541D;
    margin: 0;
    position: relative;
    
    .Content {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    
    .Logo {
        margin: auto;
    }
    
    .Logostyle {
        margin: auto;
        padding-left: 50px;
        width: 150px;
        height: 75px;
        cursor: pointer;
    }
    
    .Menu{
        display: flex;
        justify-content: flex-end;
        // margin: auto;
        .Item {
            margin: auto;
            padding-top: 40px;
            padding-right: 5px;
            a {
                text-decoration: none;
                color: #13541D;
                font-weight: normal;
                font-size: small;
            }
        }
    }
}


//메뉴목록!
ul,li {list-style: none;}

a {text-decoration: none; color: #13541D; display: block;}

.Menubar {
    width: 100%;
    margin: 0 auto;
    height: 0;
}

.Menulist {
    width: 700px;
    line-height: 75px;
    color: #13541D;
    margin: 0 auto;
    display: flex;
    font-weight: bold;
    text-align: center;
    padding: 0;
    padding-top: 20px;
    justify-content: space-between;
}

.Menulist>li {
    margin: 0 auto;
    position: relative;
}