.Join {
    flex: 1;
    min-height: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 90px 0 0;

    .main_title {
      text-align: center;
      font-size: 2.187rem;
      color: #13541D;

      &:after {
          width: 58px;
          height: 3px;
          display: block;
          margin: 1rem auto 3rem;
          background: #13541D;
          content: "";
        }
  }
    

    .Content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 500px;
        // padding: 10px;
        background: #FBFBF0;
        margin: 0 auto;
        // border-radius: 5px;
        padding-bottom: 2rem;
        // top: 100px;
        // position: relative;
    }
}


.message {
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -1px;
    bottom: -10px;
    left: 0;
    &.success {
      color: #8f8c8b;
    }
    &.error {
      color: #ff2727;
    }
  }
